.mainContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2rem;
  }
  
  .cardContaner {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20rem;
    margin: 2rem;
    padding: 2rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.02);
    border-radius: 5px;
    
  }
  .cardContaner:hover {
    /* transform: scale(1.05);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); */
  }
  
  .thumb1 {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
  }
  
  .head2 {
    margin: 10px 0;
    font-size: 1.5rem;
    font-weight: 500;
  }
  
  .parag {
    text-align: justify;
    margin-bottom: 20px;
    color: rgb(0, 0, 0);
    font-weight: 400;
  }
  
  @media (max-width: 768px) {
    .cardContainer {
      width: 100%;
    }
  }